<div class="col-sm-12 col-md-6 col-lg-4 p-3 category-card">
    <div class="card shadow-sm bg-white rounded border-0 h-100">
        <img loading="lazy" src="https://source.unsplash.com/LAaSoL0LrYs/1920x1080" alt="" class="card-img-top">
        <div class="card-body">
            <h5 class="title m-0">TITLE HERE</h5>
            <p class="mx-2 small my-0 p-0 text-muted">DATE HERE</p>
            <p class="card-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus nostrum et soluta iste exercitationem molestias odio dolorem in magni. Neque doloribus maiores quidem ab corrupti inventore aspernatur atque veniam enim?
            </p>
        </div>
        <div class="card-footer d-flex justify-content-end bg-white">
            <button class="btn btn-sm btn-default border">READ MORE <i class="fas fa-arrow-circle-right"></i></button>
        </div>
    </div>
</div>