<div class="d-flex navbar-nav text-center navbar py-0">
    <a href="/" class="nav-link border-bottom w-100">HOME</a>
    <a href="{% url 'contact' %}" class="nav-link border-bottom w-100">CONTACT</a>
    <a href="{% url 'contact' %}" class="nav-link border-bottom w-100">INSTAGRAM</a>
    <a href="{% url 'contact' %}" class="nav-link border-bottom w-100">PINTREST</a>
    <a href="{% url 'contact' %}" class="nav-link border-bottom w-100">MAIL US</a>
</div>

<style>
    .text {
        margin-left: .5em;
        text-align: justify;
        text-justify: newspaper;
    }
</style>